PORT=3000NODE_ENV=developmentSUPABASE_URL="https://tu-proyecto.supabase.co"SUPABASE_SERVICE_ROLE_KEY="tu_service_role_key_solo_backend"JWT_SECRET="cambia_esto_por_un_secreto_largo"JWT_EXPIRES_IN="1d"FRONTEND_URL="http://localhost:3001